@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Meu contato"]</h3>

<address>
    Várzea Paulista (SP)<br />
    Diego Fernando da Silva<br />
    <abbr title="Phone">Telefone:</abbr>
    (11) 96862-6861
  
</address>

<address>
    <strong>Support:</strong> <a href="diego_fernandosm@hotmail.com"> diego_fernandosm@hotmail.com</a><br />
    
</address>
